.Dashboard {
  text-align: center;
  background-color: #FFCE31;
  min-height: 100vh;

}
.Pokemon-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
}

.prop-title {
  font-weight: bold;
}

.App-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Category-button {
  position: fixed;
  bottom: 5%;
}

